* {
	border: 0;
	padding: 0;
	margin: 0;
}

#wrapper {
	width: 960px;
	height: 960px;
	overflow: hidden;
	margin: 0 auto;
	background-color: white;
}

body {
	background-color: #363636;
}

.gridPanel {
	width: 60px;
	height: 60px;
	float: left;
}

.drawnOn {
	background-color: black;
}